In [2]:
import geopandas as gpd
import pandas as pd

from geopandas import points_from_xy

In [3]:
dem = pd.read_csv('dem.csv')
geometry = points_from_xy(dem['longitude'], dem['latitude'])
dem['geometry'] = geometry

In [4]:
gdf = gpd.GeoDataFrame(dem, crs='EPSG:4326')

In [5]:
gdf.to_crs(2180, inplace=True)

In [6]:
gdf.head()

   longitude   latitude        dem                       geometry
0  15.115241  52.765146  91.275597  POINT (238012.302 551466.805)
1  15.115241  52.742790  96.548294  POINT (237878.001 548982.351)
2  15.115241  52.710706  51.254551  POINT (237685.325 545416.708)
3  15.115241  52.708844  48.958282   POINT (237674.14 545209.671)
4  15.115241  52.671378  16.817863  POINT (237449.255 541045.935)

In [7]:
gdf.drop(columns=['longitude', 'latitude'], inplace=True)

In [8]:
gdf['longitude'] = gdf.geometry.x
gdf['latitude'] = gdf.geometry.y

In [10]:
df = gdf[['longitude', 'latitude', 'dem']]

In [11]:
df.to_csv('dem2180.csv', index=False)