In [1]:
import geopandas as gpd

In [3]:
df = gpd.read_file('cancer_data_small.gpkg', layer='areas')

In [4]:
df.head()

    FIPS   rate                                           geometry
0  42029  148.1  MULTIPOLYGON (((1684394.595 269497.126, 168429...
1  34027  148.1  MULTIPOLYGON (((1794436.733 437092.583, 179439...
2  42091  147.7  POLYGON ((1745586.384 307789.087, 1745529.212 ...
3  34005  147.0  MULTIPOLYGON (((1794046.893 339003.453, 179403...
4  36059  146.5  MULTIPOLYGON (((1869041.38 442584.188, 1869008...

In [5]:
df2 = gpd.read_file('cancer_data.gpkg', layer='points')

In [6]:
df2.head()

   id   POP10                        geometry
0  81  1866.0  POINT (1277277.671 441124.507)
1  82  2093.0  POINT (1277277.671 431124.507)
2  83   590.0  POINT (1277277.671 421124.507)
3  84   636.0  POINT (1277277.671 411124.507)
4  85   582.0  POINT (1277277.671 401124.507)

In [9]:
df3 = gpd.overlay(df, df2, how='intersection', keep_geom_type=False)

In [10]:
df3.head()

    FIPS   rate    id    POP10                        geometry
0  42029  148.1  5080   4155.0   POINT (1684309.61 266124.507)
1  42029  148.1  5182  12063.0  POINT (1692969.864 311124.507)
2  42029  148.1  5183  13040.0  POINT (1692969.864 301124.507)
3  42029  148.1  5184  11480.0  POINT (1692969.864 291124.507)
4  42029  148.1  5185   7599.0  POINT (1692969.864 281124.507)

In [11]:
df3_points = df3[['id', 'POP10', 'geometry']]

In [12]:
df3_points.to_file('cancer_data_small.gpkg', layer='points')